/* Reset básico */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #222;
}

.banner {
  background-image: url("imagen/bannerhr.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px; /* ajuste conforme a altura da sua imagem */
}


/* Menu */
.menu {
  background-color: black;
  text-align: center;
  padding: 10px 0;
  margin-top: 150px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  font-size: 20px;
  font-weight: bold;
  color: red
}

.menu a:hover {
  text-decoration: underline;
}

/* Conteúdo central */
.content {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.content h1 {
  text-align: center;
  margin-bottom: 20px;
}

.resumo h2 {
  margin-top: 0;
}

.resumo p {
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify;
}
