@font-face {
  font-family: "RAFEIROPLUS2";              /* nome que você vai usar no CSS */
  src: url("Fonts/RAFEIROPLUS2.ttf") format("truetype"); /* caminho relativo */
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  font-family: RAFEIROPLUS2, sans-serif;
  background-color: #f5f5f5;
  color: #222;
  text-transform: uppercase; /* deixa tudo maiúsculo */
}



.banner {
  background-image: url("imagen/bannerhr.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px; /* ajuste conforme a altura da sua imagem */
}

.capitulo {
  text-align: center;
  margin: 10px 0; /* espaço entre capítulos */
}

.capitulo a {
  color: black;             /* cor do link */
  text-decoration: none;    /* remove o sublinhado */
  font-weight: bold;        /* deixa mais destacado */
  font-size: 18px;          /* aumenta o tamanho do texto */
}

.capitulo a:hover {
  color: red;               /* muda de cor quando passa o rato por cima */
}


  

/* Menu */
.menu {
  background-color: black;
  text-align: center;
  padding: 30px 0;
  margin-top: 0px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  font-size: 20px;
  font-weight: bold;
  color: red
}

.menu a:hover {
  text-decoration: underline;
}

/* Conteúdo central */
.content {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.content h1 {
  text-align: center;
  margin-bottom: 20px;
}

.resumo h2 {
  margin-top: 0;
}

.resumo p {
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: justify;
}
